<%= form_with(model: police_brutality, local: true) do |form| %>
  <% if police_brutality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(police_brutality.errors.count, "error") %> prohibited this police_brutality from being saved:</h2>

      <ul>
      <% police_brutality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
