// Place all the styles related to the police_brutalities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  body {
    font-size: 20pt;
  }
  
h1 {
	text-align: center;
	margin-bottom: 1rem;
}

.count {
	color: blue;
	border: 5px solid blue;
	padding: .15em;
}

.count-top {
	color: #ffffff;
	border: 5px solid #ffffff;
	padding: .15em;
	text-align: right;
}

.label {
	color: blue;
	font-size: 1.5em;
}

.container {
	height: 100%;
	position: relative;
	margin-top: 1rem;
}

.contained img {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
}

.container a {
	color: #ffffff;
}

.container a:visited {
	color: #ffffff;
	}
	

.note {
	position: absolute;
	font-size: .55rem;
	top: 0;
	right: 0;
}

.heading {
	font-weight: bold;
	font-size: 1.25rem;
	margin-bottom: .5rem;
}

a.list {
	color: blue;
	
}

a.list:visited {
	color: blue;
}

footer {
	text-align: center;
	width: 100%;
}


footer ul li {
	color: #000000;
	font-size: 1em;
	display: inline;
	padding: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky +  .container {
	padding-top: 60px;
}

.nav {
	font-size: 1.25rem;
	padding: .75rem .75rem;
  	background: blue;
	color: #ffffff;
	opacity: 1;
	z-index: 99;
	width: 100%;
}

a.nav-link {
	color: #ffffff;
}

a.nav-link:hover {
	color: #ffffff;
}

a.nav-link:visited {
	color: #ffffff;
}

.more {
	margin-left: 5%;
	color: grey;
}



/* Speech bubble from https://leaverou.github.io/bubbly/
------------------------------------------ */


.speech-bubble {
	position: relative;
	background: blue;
	border-radius: 1.5em;
	color: #fff;
}

@media only screen and (min-width: 812px) {
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 2em solid transparent;
	border-top-color: blue;
	border-bottom: 0;
	border-right: 0;
	margin-left: -2em;
	margin-bottom: -2em;
}

.speech-bubble p {
	margin: 1rem;
		font-size: 1.15rem;
	color: #ffffff;

}


.out-of-flow {
	float: right;
}

}
