// Place all the styles related to the police_brutalities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.count {
	color: blue;
	border: 5px solid blue;
	padding: .15em;
}

.label {
	color: blue;
	font-size: 1.5em;
}

.container {
	height: 100%;
	position: realtive;
}

.contained img {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.6;
}

.container a {
	color: #ffffff;
}

.container a:visited {
	color: #ffffff;
	}
	
.out-of-flow {
	float: right;
}

.note {
	position: absolute;
	font-size: .55rem;
	top: 0;
	right: 0;
}

/* Speech bubble from https://leaverou.github.io/bubbly/
------------------------------------------ */

.speech-bubble {
	position: relative;
	background: blue;
	border-radius: 1.5em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 30%;
	width: 0;
	height: 0;
	border: 2em solid transparent;
	border-top-color: blue;
	border-bottom: 0;
	border-right: 0;
	margin-left: -2em;
	margin-bottom: -2em;
}

.speech-bubble p {
	margin: 1rem;
		font-size: 1.15rem;
	color: #ffffff;

}

@media only screen and (max-width: 600px) {
  body {
    font-size: 20pt;
  }
  
  p {
  	font-size: 2rem;
  }
  

}
