<hr />
<footer>
<p>The list this site pulls from currently contains <span class="count"><%= $police_brutalities["data"].count %></span> reports of police brutality.</p>

</footer>

<hr />
<p class="more">
<% $police_brutalities["meta"]["more"].each do |a| %>
<%= a %></br>

<% end %>
</p>

<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("nav");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}

</script>